@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');

body{
background: rgb(58,180,168);
background: linear-gradient(90deg, rgba(58,180,168,1) 0%, rgba(207,69,252,1) 100%);
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

#loginForm{
    background: white;
    padding: 150px 100px;
    border-radius: 5%;
    text-align: center;
}

#login_text{
    font-size: 20px;
    padding: 10px;
}

#password_text{
    padding: 10px;
    font-size: 20px;
}

input{
    margin: 10px;
    padding-left: 5px;
    padding: 5px;
    font-size: 20px;
}

input:focus{
    border-color: #A762E5;
    outline: none;
}

button{
    font-size: 20px;
    padding: 20px;
    border: none;
    width: 85%;
    border-radius: 3%;
    color: white;
    margin-top: 20px;
}

.wrongInput{
    background-color: #FFDCE0;
    outline: none;
    border-color: #CEA0A5;
}

.signIn{
    background-color: #A762E5;
    transition: linear 0.3s;
}

.signUp{
    padding-top: 20px;
}
.signUp a{
    color: #828282;
    transition: linear 0.3s;
}

.signUp a:hover{
    color: #535353 ;
    cursor: pointer;
}

.button_hover{
    background-color: #3CB3A9;
    transition: linear 0.3s;
    cursor: pointer;
}

.logo{
    font-family: 'Lobster', cursive;
    padding-bottom: 50px;
    font-size: 40px;
    color: #A762E5;
    transition: linear 0.3s;
}

.logo_hover{
    font-family: 'Lobster', cursive;
    padding-bottom: 50px;
    font-size: 40px;
    color: #3CB3A9;
    transition: linear 0.3s;
}

#error{
    margin-top: 20px;
    background-color: #FFDCE0;
    padding: 10px;
    border: 2px solid #CEA0A5;
}