@media only screen and (max-width: 1920px) and (min-width: 1000px){
body{
background: black;
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

#loginForm{
    background: white;
    padding: 100px 100px;
    border-radius: 5%;
    text-align: center;


    -webkit-box-shadow: 0px 0px 78px -4px rgba(167,98,229);
    -moz-box-shadow: 0px 0px 78px -4px rgba(167,98,229);
    box-shadow: 0px 0px 78px -4px rgba(167,98,229);
    transition: linear 0.3s;
}

#loginForm_hover{
    background: white;
    padding: 100px 100px;
    border-radius: 5%;
    text-align: center;


    -webkit-box-shadow: 0px 0px 78px 3px rgba(60,179,169);
    -moz-box-shadow: 0px 0px 78px 3px rgba(60,179,169);
    box-shadow: 0px 0px 78px 3px rgba(60,179,169);
    transition: linear 0.3s;
}

#login_text{
    font-size: 20px;
    padding: 10px;
}

#password_text{
    padding: 10px;
    font-size: 20px;
}

input{
    margin: 10px;
    padding-left: 5px;
    padding: 5px;
    font-size: 20px;
}

input:focus{
    border-color: #A762E5;
    outline: none;
}

button{
    font-size: 20px;
    padding: 20px;
    border: none;
    width: 85%;
    border-radius: 3px;
    color: white;
    margin-top: 20px;
}

.wrongInput{
    background-color: #FFDCE0;
    outline: none;
    border-color: #CEA0A5;
}

.signIn{
    background-color: #A762E5;
    transition: linear 0.3s;
}

.signUp{
    padding-top: 20px;
}
.signUp a{
    color: #828282;
    transition: linear 0.3s;
}

.signUp a:hover{
    color: #535353 ;
    cursor: pointer;
}

.button_hover{
    background-color: #3CB3A9;
    transition: linear 0.3s;
    cursor: pointer;
}

.logo{
    font-family: 'Lobster', cursive;
    padding-bottom: 50px;
    font-size: 40px;
    color: #A762E5;
    transition: linear 0.3s;
}

.logo_hover{
    font-family: 'Lobster', cursive;
    padding-bottom: 50px;
    font-size: 40px;
    color: #3CB3A9;
    transition: linear 0.3s;
}

.errorMessage{
    margin-top: 20px;
    background-color: #FFDCE0;
    padding: 10px;
    border: 2px solid #CEA0A5;
}

.successMessage{
    margin-top: 20px;
    background-color: #77D580;
    border: 2px solid #5EA966;
    padding: 10px;
}


}