@import './desktopView.css';
@import './mobileView.css';
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');

::-webkit-scrollbar { /* 1 - скроллбар */
    width: 4px;
    height: 4px;
    background-color: #FFFFFF;
  }

